<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>书城—我的订单</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
	<!--  Bootstrap4 核心 CSS 文件 -->
	<link type="text/css" rel="stylesheet" href="../static/Resource/bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="../static/Resource/bootstrap/css/bootstrap-grid.min.css">
	<link type="text/css" rel="stylesheet" href="../static/Resource/bootstrap/css/bootstrap-reboot.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script type="text/javascript" src="../static/Resource/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
	<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
	<script type="text/javascript" src="../static/Resource/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
	<script type="text/javascript" src="../static/Resource/bootstrap/js/bootstrap.min.js"></script>
	<!--Vue-->
	<script type="text/javascript" src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
	<script type="text/javascript" src="../JS/index.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="btn btn-link" type="button" href="../static/login.html">登录</a>
			</li>
			<li class="nav-item active">
				<a class="btn btn-link" href="../static/login.html">注册</a>
			</li>
			<li class="nav-item active">
				<a class="btn btn-link" onclick="loginout2()">退出</a>
			</li>
			<li class="nav-item active">
				<a class="btn btn-link" href="../static/index.html">首页</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" id="dis_name"></a>
			</li>
		</ul>
	</nav>
	<div class="container mt-3">
		<div class="row clearfix">
			<div class="col-md-3 column">
				<img src="../static/Image/logo1.png" class="rounded" alt="Cinque Terre">
			</div>
			<div class="col-md-6 column">
				<div class="input-group search">
					<input id="searor"type="text" class="form-control" placeholder="请输入你要检索的订单的书名"style="padding: 20px">
					<span style="font-family: 微软雅黑;" class="input-group-text">
                 搜索
                    </span>
				</div>
			</div>
			<div class="col-md-3" >
				<a href="shopCar.jsp">
					<button onclick="toScar2()" class="btn btn-danger" style="font-family: 微软雅黑;font-size: 30px" >
						<i class="fa fa-truck" style="font-size:48px;color:black"></i>&nbsp;我的书包
					</button>
				</a>
			</div>
		</div>
	</div>
	<div class="nav" style="border-bottom: 2px solid #cc0000">
		<div class="card text-black" style="background-color: #cc0000; border-top-right-radius: 25px; width: 285px;margin-left: 25px">
			<div class="card-body" style="font-family: 微软雅黑;">全部图书分类 </div>
		</div>
		<div class="col-md-10 column marquee">
			<marquee  scrollamount="3"><span style="font-family: 微软雅黑;" class="glyphicon glyphicon-bullhorn"> 系统公告：本系统今晚十点进行系统升级，带来不便敬请谅解！</span></marquee>
		</div>
	</div>
	<div class="row" style="background-color:honeydew;height: 600px">
		<div class="col-md-8" style="text-align: center;background-color:white;height: 100%;margin-left:325px;">
			<p>订单管理</p>
			<table class="table table-hover">
				<thead>
				<tr class="table-danger">
					<th>订单编号</th>
					<th>订单时间</th>
					<th>商品数量</th>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>订单总价</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody id = "Uer_Order">
				</tbody>
			</table>
			<div class="row" style="width: 100% ;margin-top: 10px">
				<div class="container">
					<ul class="pagination" style="width: 100%">
						<li class="page-item"><a class="page-link" onclick="earlypage()">上一页</a></li>
						<li class="page-item" id="lw1"></li>
						<li class="page-item" id="lw2"></li>
						<li class="page-item" id="lw3"></li>
						<li class="page-item"><a class="page-link" onclick="nextpage()">下一页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div style="border-top: 2px solid #cc0000;margin-top: 5px;text-align: center" class="row-cols-1">
		<div class="row">
			<div class="col-md-3 ">
				<img style="border-radius: 50%;" src="../Images/icon_1_17.png">
				品目繁多 愉悦购物
			</div>
			<div class="col-md-3 ">
				<img style="border-radius: 50%;"src="../Images/icon_1_20.png">
				正品保障 天天低价
			</div>
			<div class="col-md-3 ">
				<img style="border-radius: 50%;" src="../Images/icon_1_23.png">
				极速物流 特色定制
			</div>
			<div class="col-md-3 ">
				<img style="border-radius: 50%;"  src="../Images/icon_1_25.png">
				优质服务 以客为尊
			</div>
		</div>
		<div class="links">
			<p>
				<span>关于我们</span>|
				<span>联系我们</span>|
				<span>加我我们</span>|
				<span>友情链接</span>
			</p>
		</div>
	</div>

		<script type="text/javascript" src="../JS/VueOr.js"></script>
</body>
</html>
<script type="text/javascript">
	var vm = new Vue({
		el: '#O_1',
		data: {
			url: "www.runoob.com",
		},
		methods: {
			te:function(){
				tes()
			}
		}
	})
	getUserinfo()
	gettoken2()
	getOrderNum()
	tes()
	$('.orderLine').css('display','none');
	
	$('.showBtn').click(function(){
		var orderlineGroup=$('.orderLine');

		var show=$(this).attr('data-target');
		for (var i = orderlineGroup.length - 1; i >= 0; i--) {
			if (orderlineGroup[i]!=$(show)) {
				var dom=$(orderlineGroup[i])
				
				var style=dom.css('display','none');
				
			}
		}
		var display=$(show).css('display')
		console.log(display)
		if (display=='none') {
			$(show).css('display','list-item');
			var display=$(show).css('display')
			console.log(display)
		}else{
			$(show).css('display','none');
		}

	})
</script>